@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("bg1.jpg");
    background-size: cover;
}


a{
    color: white;
}

.container{
    width: 80%;
    margin: auto;
}
header{
    height: 100px;
    border-bottom: 2px solid darkblue;
}
/*Header start*/
header nav{
    display: flex;
    justify-content:space-between;
    /*birbirinden olabildiğince uzaklaştır*/
    align-items: center;
    /* dikeyde aynı hizada*/
    
}

header nav .logo a {
    color: white;
    text-emphasis: none;
    font-weight: 700;
    font-size: 20px;
}

nav ul {
    list-style: None;
    /*bu kod listenin başına konan sayacı kaldırır*/
    display: flex;
    /*yan yana dizer*/
    column-gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color .25s ease;
    
    
}

nav .menu{
    display: flex;
    align-items: center;
    transition: color .25s ease;
}
nav .menu .menu-button {
    color: aquamarine;
   text-decoration: none;
   background-color: rgb(255, 255, 255,0.08);
   padding: 8px 24px;
   border-radius: 56px;
   /*butonun dikdörtgen olan kenarlarına kavis verir*/
   transition: color .25s ease;
}
nav .menu .menu-button:hover {
    background-color: darkblue;
    color: white;
    

   /*butonun dikdörtgen olan kenarlarına kavis verir*/
}
/*Header end*/
/* responsive start
@media(max-width:576px){
    .container{
        width: 100%;
        padding-left: 12px;
        padding-right 12px;
    }
    .menu .menu-button{
        display: none;
    }
}
 responsive end */